fastapi
uvicorn[standard]
python-multipart
python-dotenv
numpy
opencv-python-headless
onnxruntime
insightface
psycopg2-binary
PyJWT
bcrypt
torch
torchvision
Pillow
git+https://github.com/openai/CLIP.git
